# Redis Service para SignalR Backplane
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: cryptojackpot
  labels:
    app: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
