# Keycloak Service - Base
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: cryptojackpot
  labels:
    app: keycloak
spec:
  type: ClusterIP
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
