# Kustomization for Order API Base
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  # ingress.yaml removed - all traffic goes through BFF Gateway
