# NodePort Service for external access in LOCAL development
apiVersion: v1
kind: Service
metadata:
  name: keycloak-external
  namespace: cryptojackpot
  labels:
    app: keycloak
spec:
  type: NodePort
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30180
